<div class="horizontal-padded-container" [formGroup]="step2Form">
    <div>
        <h2 class="text-center">Datos del Negocio</h2>
        <div class="form-grid" gdAreas="name category subcategory | email celphone phone | facebook twitter instagram"
            gdAreas.xs="name | category | subcategory | email | celphone | phone | facebook | twitter | instagram"
            gdGap="1em" gdColumns.sm="none" gdGap.xs="0px">

            <div gdArea="name">
                <div>Nombre comercial</div>
                <mat-form-field appearance="outline">
                    <input matInput formControlName="businessName">
                </mat-form-field>
            </div>
            <div gdArea="category">
                <div>Categoría de la actividad comercial</div>
                <mat-select (selectionChange)="onCategoryChange($event)"
                appearance="outline"
                placeholder="-- Seleccione --"
                formControlName="category">
                    <mat-option *ngFor="let item of categories$ | async" [value]="item.id">
                        {{item.name}}
                    </mat-option>
                </mat-select>
            </div>
            <div gdArea="subcategory">
                <div>Subcategoría</div>
                <mat-select appearance="outline" placeholder="-- Seleccione --" formControlName="subcategory">
                    <mat-option *ngFor="let item of subcategories$ | async" [value]="item.id">
                        {{item.name}}
                    </mat-option>
                </mat-select>
            </div>
            <div gdArea="email">
                <div>Correo electrónico del negocio</div>
                <mat-form-field appearance="outline">
                    <input matInput formControlName="email">
                </mat-form-field>
            </div>
            <div gdArea="celphone">
                Teléfono celular del negocio
                <mat-form-field appearance="outline">
                    <input matInput formControlName="celphone">
                </mat-form-field>
            </div>
            <div gdArea="phone">
                Teléfono fijo del negocio
                <mat-form-field appearance="outline">
                    <input matInput formControlName="phone">
                </mat-form-field>
            </div>
            <div gdArea="facebook">
                URL Facebook fan page
                <mat-form-field appearance="outline">
                    <input matInput formControlName="facebook">
                </mat-form-field>
            </div>
            <div gdArea="twitter">
                URL Twitter
                <mat-form-field appearance="outline">
                    <input matInput formControlName="twitter">
                </mat-form-field>
            </div>
            <div gdArea="instagram">
                URL Instagram
                <mat-form-field appearance="outline">
                    <input matInput formControlName="instagram">
                </mat-form-field>
            </div>

        </div>
    </div>

    <div>
        <h2>Dirección del negocio</h2>
        <div class="form-grid" gdAreas="state city neighborhood | street zip location" gdColumns="32%!" gdGap="1em"
            gdAreas.xs="state | city | neighborhood | street | zip | location" gdColumns.xs="none" gdGap.xs="10px"
            [ngStyle]="{'max-width': 'auto'}" [ngStyle.xs]="{'max-width': '800px'}">

            <div class="blocks one" gdArea="state">
                <div>Estado</div>
                <mat-select (selectionChange)="onStateChange($event)" placeholder="-- Seleccione --" formControlName="state">
                    <mat-option *ngFor="let item of states$ | async" [value]="item.id">
                        {{item.name}}
                    </mat-option>
                </mat-select>
            </div>
            <div gdArea="city">
                <div>Ciudad</div>
                <mat-select (selectionChange)="onCityChange($event)" placeholder="-- Seleccione --" formControlName="city">
                    <mat-option *ngFor="let item of cities$ | async" [value]="item.id">
                        {{item.name}}
                    </mat-option>
                </mat-select>
            </div>
            <div gdArea="neighborhood">
                <div>Colonia</div>
                <mat-select placeholder="-- Seleccione --" formControlName="neighborhood">
                    <mat-option *ngFor="let item of neighborhoods$ | async" [value]="item.id">
                        {{item.name}}
                    </mat-option>
                </mat-select>
            </div>
            <div gdArea="street" class="street-address">
                <div id="street">
                    <div>Calle</div>
                    <mat-form-field appearance="outline">
                        <input matInput formControlName="streetName">
                    </mat-form-field>
                </div>
                <div id="number">
                    <div>Número</div>
                    <mat-form-field appearance="outline">
                        <input matInput formControlName="number">
                    </mat-form-field>
                </div>
            </div>
            <div gdArea="zip">
                <div>Código postal</div>
                <mat-form-field appearance="outline">
                    <input matInput formControlName="zipcode">
                </mat-form-field>
            </div>
            <div gdArea="location">
                <div>Ubicación exacta del negocio</div>
                <mat-form-field appearance="outline">
                    <input matInput formControlName="location">
                </mat-form-field>
            </div>
        </div>
        <div class="button-row">
            <button mat-stroked-button color="accent" (click)="cancel()">Cancelar</button>
            <button mat-raised-button color="primary" (click)="continue()" [disabled]="step2Form.invalid">Continuar</button>
        </div>
    </div>
</div>