<div class="app-top-bar">
    <div class="header-top-stripe">
      <div>
        <img src="./assets/img/business-main-logo.svg" class="header-logo">
      </div>
      <div class="header-main-text">
        <h3>¡Nosotros lo hacemos por ti!</h3>
        Es hora de digitalizar tu negocio con tu nueva página web.
      </div>
      <div class="privacy-notice">
        Aviso de privacidad
      </div>
    </div>
    <div class="header-bottom-stripe"></div>
  </div>