app-top-bar{
    .app-top-bar{
      position: sticky;
      top: 0;
      z-index: 3;
    }
  
    .header-top-stripe{
      height: 140px;
      padding: 16px;
      background-color: #558889;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      color: white;
    
      .header-logo{
        width: 200px
      }
    
      .header-main-text{
        text-align: center;
      }
    }
    
    .header-bottom-stripe{
        width: 100%;
        height: 20px;
        background-color: #79B9BB;
        margin-bottom: 40px;
    }
  }
  
  