mat-card{
    max-width: 75%;

    .example-header-image {
        background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
        background-size: cover;
    }

    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
}

figure.mat-figure{
    display: block !important;
}

.main-form{
    grid-auto-columns: 50%;
    padding: 16px;
}

.grid-container {
    display: grid;
    gap: 0px 8px;
    grid-template-areas: "nameLabel nameField" "emailLabel emailField" "celphoneLabel celphoneField" "phoneLabel phoneField";
    grid-auto-columns: max-content;
    align-items: center;
  }
  
  .nameField { grid-area: nameField; }
  .nameLabel { grid-area: nameLabel; }

  .emailLabel { grid-area: emailLabel; }
  .emailField { grid-area: emailField; }

  .celphoneLabel { grid-area: celphoneLabel; }
  .clephoneField { grid-area: clephoneField; }

  .phoneLabel { grid-area: phoneLabel; }
  .phoneField { grid-area: phoneField; }

  .mat-form-field{
      width: auto;
  }

  img{
      display: block;
  }

@media (max-width: 767px) {
    .grid-container{
        display: block !important;
    }

    #step1-images-container{
        display: none;
    }

    .main-form{
        grid-auto-columns: 50%;
    }
}



@media (min-width: 768px) {

    #step1-images-container{
        display: block;
    }

    .main-form{
        grid-auto-columns: auto;
    }
}
  