<app-top-bar></app-top-bar>
<mat-card class="main-card">
<div class="main-form" gdAreas="form images" gdAreas.xs="form | images" gdGap="1em" gdGap.xs="0px" [formGroup]="step1Form">
    <div gdArea="form">
        <h3>¡Tu página web con<br>Espacio Enprendedor<br>creada por expertos!</h3>
        <h4>Iniciemos con estos simples pasos.</h4>

        <div class="grid-container">
            <div class="nameLabel">Nombre</div>
            <div class="nameField">
                <mat-form-field appearance="outline">
                    <input matInput formControlName="name">
                </mat-form-field>
            </div>

            <div class="emailLabel">
                email
            </div>
            <div class="emailField">
                <mat-form-field appearance="outline">
                    <input matInput formControlName="email" type="email">
                </mat-form-field>
            </div>

            <div class="celphoneLabel">
                Teléfono celular
            </div>
            <div class="celphoneField">
                <mat-form-field appearance="outline">
                    <input matInput formControlName="mobile_phone" type="tel">
                </mat-form-field>
            </div>

            <div class="phoneLabel">
                Teléfono fijo del negocio
            </div>
            <div class="phoneField">
                <mat-form-field appearance="outline">
                    <input matInput formControlName="phone" type="tel">
                </mat-form-field>
            </div>
          </div>

        <div>
            <button mat-raised-button color="primary" (click)="send()" [disabled]="step1Form.invalid">Enviar</button>
        </div>
    </div>

    <div gdArea="images" id="step1-images-container">
        <img src="./assets/img/wizard-start-main.svg" style="width: 100%; margin: auto;">
        <img src="./assets/img/wizard-secondary-main-image.svg" style="width: 75%;margin: auto;padding: 16px;">
        <img src="./assets/img/wizard-secondary-main-image.svg" style="width: 75%;margin: auto;padding: 16px;">
    </div>
</div>
</mat-card>

<app-bottom-bar></app-bottom-bar>
