<div class="horizontal-padded-container" [formGroup]="step3Form">
    <h2 class="text-center" color="accent">Descripción de Productos y Servicios</h2>

    <div class="main-grid" gdAreas="products schedule" gdAreas.xs="products | schedule" gdGap="1em" gdColumns.sm="none"
        gdGap.xs="0px">
        <div gdArea="products">
            <h3>Productos y/o Servicios</h3>
            <div>Producto y/o Servicio</div>
            <div *ngFor="let product of t.controls; let i = index">
                <div [formGroup]="product">
                    <mat-form-field appearance="outline">
                        <input matInput formControlName="description">
                    </mat-form-field>
                </div>
            </div>

            <div>
                <button mat-icon-button aria-label="Agregar Producto y/o Servicio" (click)="addProductField()"
                    style="width: 22px;">
                    <mat-icon color="primary">add_box</mat-icon>
                </button>
                <div style="display: inline; margin-left: 8px;" (click)="addProductField()">Agregar Producto y/o
                    Servicio</div>
            </div>

            <h3>Entregas a Domicilio</h3>
            <mat-radio-group class="radio-group" aria-label="Entregas a Domicilio" formControlName="deliveryType">
                <mat-radio-button color="primary" class="radio-button" value="1" name="radiogroup1">
                    Sí entregamos a Domicilio
                </mat-radio-button>
                <mat-radio-button color="primary" class="radio-button" value="2" name="radiogroup1">
                    No realizamos entregas
                </mat-radio-button>
            </mat-radio-group>

            <h3>Métodos de Cobro en el Establecimiento</h3>
            <div gdAreas="cards money" gdAreas.xs="cards | money" gdGap="1em" gdColumns.sm="none" gdGap.xs="0px"
                formGroupName="paymentMethods">
                <div gdArea="cards">
                    <section class="checkbox-group">
                        <mat-checkbox color="primary" class="checkbox" formControlName="visa">Visa</mat-checkbox>
                        <mat-checkbox color="primary" class="checkbox" formControlName="mcard">Master Card
                        </mat-checkbox>
                        <mat-checkbox color="primary" class="checkbox" formControlName="amex">American Express
                        </mat-checkbox>
                    </section>
                </div>
                <div gdArea="money">
                    <section class="checkbox-group">
                        <mat-checkbox color="primary" class="checkbox" formControlName="cash">Efectivo</mat-checkbox>
                        <mat-checkbox color="primary" class="checkbox" formControlName="check">Cheque</mat-checkbox>
                    </section>
                </div>
            </div>
        </div>

        <div gdArea="schedule">
            <h3>Horario de Servicio</h3>
            <mat-radio-group class="radio-group" aria-label="Horario de Servicio" formControlName="scheduleType">
                <mat-radio-button color="primary" class="radio-button" value="1" (click)="showSchedule(true)">
                    Especificar el horario en formato de 24 horas
                </mat-radio-button>
                <mat-radio-button color="primary" class="radio-button" value="2" (click)="showSchedule(false)">
                    Abierto 24 horas
                </mat-radio-button>
                <mat-radio-button color="primary" class="radio-button" value="3" (click)="showSchedule(false)">
                    Prefiero no especificar el horario
                </mat-radio-button>
            </mat-radio-group>

            <table [hidden]="!showScheduleForm" class="schedule-grid">
                <tr>
                    <td colspan="2" style="text-align: right;">
                        <button mat-stroked-button color="primary" [disabled]="disableApplyToAllBtn" (click)="applyToAll()">
                            Aplicar a todos
                        </button>
                    </td>
                </tr>

                <tr *ngFor="let day of d.controls; let i = index">
                    <td>{{days[i]}}</td>
                    <td [formGroup]="day">
                        <mat-form-field appearance="outline">
                            <input matInput placeholder="hh:mm" type="time" formControlName="from{{i}}" (change)="onHoursChanged(i, day.value)">
                        </mat-form-field>
                        -
                        <mat-form-field appearance="outline">
                            <input matInput placeholder="hh:mm" type="time" formControlName="to{{i}}" (change)="onHoursChanged(i, day.value)">
                        </mat-form-field>
                        <mat-checkbox color="primary" class="checkbox" formControlName="closed{{i}}" (click)="closedOn(i)">
                            Cerrado
                        </mat-checkbox>
                    </td>
                </tr>
            </table>

            <!--<div [hidden]="!showScheduleForm">
                <div style="text-align: right;">
                    <button mat-stroked-button color="primary">Aplicar a todos</button>
                </div>
                <div class="form-grid schedule-grid" *ngFor="let day of d.controls; let i = index"
                    gdAreas="days{{i}} fromTo{{i}} closed{{i}}" gdAreas.xs="days{{i}} | fromTo{{i}} closed{{i}}"
                    gdGap="1em" gdColumns.sm="none" gdGap.xs="0px"
                    [ngStyle]="{'align-items':'center', 'grid-auto-columns': 'max-content'}">
                    <div gdArea="days{{i}}" style="width: 75px;">
                        {{days[i]}}
                    </div>
                    <div [formGroup]="day">
                        <div class="from-to-inputs-wrapper" gdArea="fromTo{{i}}">
                            <div>
                                <mat-form-field appearance="outline">
                                    <input matInput placeholder="hh:mm" type="time" formControlName="from{{i}}">
                                </mat-form-field>
                                -
                                <mat-form-field appearance="outline">
                                    <input matInput placeholder="hh:mm" type="time" formControlName="to{{i}}">
                                </mat-form-field>
                            </div>
                        </div>
                        <div gdArea="closed{{i}}">
                            <mat-checkbox color="primary" class="checkbox" formControlName="closed{{i}}">
                                Cerrado
                            </mat-checkbox>
                        </div>
                    </div>
                </div>
            </div>-->

            <h3>Información extra (opcional):</h3>
            <mat-form-field appearance="outline">
                <input matInput formControlName="extraInfo">
            </mat-form-field>
        </div>
    </div>

    <div>
        <h3>Descripción del Negocio</h3>
        <mat-form-field appearance="outline">
            <textarea matInput formControlName="description"></textarea>
        </mat-form-field>
    </div>

    <div class="button-row">
        <button mat-stroked-button color="accent" (click)="cancel()">Cancelar</button>
        <button mat-raised-button color="primary" (click)="continue()" [disabled]="step3Form.invalid">Continuar</button>
    </div>
</div>