
.radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
}
  
.radio-button {
    margin: 5px;
}

.checkbox-group {
    display: flex;
    flex-direction: column;
  }
  
  .checkbox {
    margin: 0 10px;
  }

  .schedule-grid{
    width: 100%;
    .mat-form-field{
      max-width: 88px;
    }
  }


  @media (max-width: 425px) { 
    .horizontal-padded-container{
      padding-left: 0;
      padding-right: 0;
    }
    .main-grid{
      display: block;
    }
}