/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.text-center{
    text-align: center;
}
.text-justified{
    text-align: justify;
}

.paddin-vertical{
    padding-top: 16px;
    padding-bottom: 16px;
}

.horizontal-padded-container{
    padding-left: 40px;
    padding-right: 40px;
}

.form-grid{
    align-items: end;
}

.mat-form-field{
    width: 100%;
}

.mat-form-field-type-mat-input{
    .mat-form-field-wrapper{
        padding-bottom: 0;
        margin-bottom: 0 !important;
    }
}

.mat-form-field-appearance-outline .mat-form-field-infix{
    margin: 0;
    padding: 9px 0;
    border: 0;
}

.mat-form-field-infix{
    width: 100% !important;
}


mat-select{
    border: 1px solid lightgray;
    border-radius: 4px;
    padding: 8px;
    margin-top: 4px;
    width: -webkit-fill-available !important;
}

.button-row{
    display: flex;
    justify-content: flex-end;
    padding-top: 16px;

    button {
        display: flex;
        margin-left: 8px;
    }
}

app-wizard-step3{
    .mat-form-field-appearance-outline .mat-form-field-flex{
        padding: 0 0.3em 0 .6em !important;
    }

    .mat-radio-label{
        white-space: normal;
    }
}

 // Small devices (landscape phones, 576px and up)
 @media (max-width: 768px) { 
     .header-bottom-stripe{
        margin-bottom: 16px !important;
     }

     .footer-component{
         margin-top: 16px !important;
     }

    .main-card{
        max-width: 100% !important;
        margin-left: 16px !important;
        margin-right: 16px !important; 
    }
}