<div>
    <div gdAreas="webpage gmb" gdAreas.xs="webpage | gmb" gdGap="1em" gdGap.xs="0px">
        <div gdArea="webpage" class="horizontal-padded-container">
            <h2 class="text-center">Página Web</h2>
            <div class="text-center paddin-vertical">
                <img src="./assets/img/icon-thankyou-page.svg" style="width: 40%;">
            </div>
            <p class="text-justified">
                Cuando tu página web esté lista, recibirás un correo electrónico con las instrucciones para dar seguimiento
                a tu página web.
            </p>
        </div>
        <div gdArea="gmb" class="horizontal-padded-container">
            <h2 class="text-center">Google Mi Negocio</h2>
            <div class="text-center paddin-vertical">
                <img src="./assets/img/google-my-business-logo.svg" style="width: 34%;">
            </div>
            <p class="text-justified">
                La información de tu negocio ha sido enviada a google par el registro, te enviaremos un correo electrónico
                cuando esté listo.
            </p>
        </div>
    </div>
    
    <div class="button-row">
        <button mat-raised-button color="primary" (click)="continue()">Entendido</button>
    </div>
</div>